
%baseContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.mainSection {
  @extend %baseContainer;

  flex-direction: column;
  justify-content: space-around;
}

.mainSectionWithSeeds {
  @extend %baseContainer;
  
  color: white;
  background-image: url('./images/women-with-seeds.jpg');
}

.logoContainer {
  width: 150px;
}

.worldMapImageContainer, .specialSeparator, .searchContainer {
  width: 40vw;
}

.savanahImageContainer {
  width: 100vw;
}

.textContainer {
  @extend %baseContainer;

  flex-direction: row;

  h2 {
    margin-bottom: 20px;
  }

  img {
    margin-right: 5vw;
  }
}

.womanWithCropsContainer {
  width: 20vw;
  border-radius: 50%;
}

.textWidth, .womanTextcontainer {
  width: 30vw;
}

.betterInternet {
  display: flex;
  justify-content: space-around;

  img {
    height: 200px;
  }
}

.cardContainer {
  padding: 20px;
  width: 24vw;
}
