%baseContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutUs {
  .section {
    @extend %baseContainer;

    flex-direction: column;
    // justify-content: space-around;

    &__picture {
      width: 100vw;
      flex-direction: column;
      justify-content: space-around;

      background-image: url('./images/about_hero@1\,25x-d00c45bbe3.jpg');
      background-size: cover;
    }

    &--text {
      font-size: 3em;
      width: 50vw;
      font-weight: bold;
      text-align: center;
      // color: white;
    }

    &--separator {
      padding: 2vh;
    }

    &--background {
      background-color: gainsboro;
    }

    &--fullHeight {
      height: 100vh;

      @media only screen and (max-width: 600px) {
        // height: none;
      }
    }

    &--halfHeight {
      height: 75vh;
    }

    .history {
      display: flex;
      flex-direction: row;

      &__item {
        text-align: center;
        padding: 1vw;

        &--title {
          color: grey;
        }
      }
    }

    .grid-container {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-column-gap: 10vw;
      grid-row-gap: 10vh;
      padding: 5px;
      justify-content: center;

      div {
        text-align: center;
      }

      &__image {
        width: 75px;
        border-radius: 50%;
      }
    }

    .form-container {
      width: 40vw;
    }

    .savanah {
      width: 100vw;
    }

    .footer {
      display:flex;

      div {
        padding: 0px 25px;
      }
      
      &__title {
        color: grey;
        text-transform: uppercase;
        margin-bottom: 20px;
        font-weight: bold;
      }

      &__shrink {
        width: 300px;
      }

      &__line {
        background-color: grey;
        height: 2px;
        width: 70vw;
        margin: 50px;
      }
    }

    @media only screen and (max-width: 600px) {
      .history {
        flex-direction: column;
      }
    }
  }
}
